

<mat-card class="tasklist">
  <mat-card-header>
    <mat-card-title>My Tasks</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <form>
          <mat-form-field>
              <input matInput placeholder="Add a task" id='newTask' name='newTask' type='text' [(ngModel)]='newTask' />
          </mat-form-field>
          <button mat-raised-button color="primary" type='submit' (click)='onTaskSubmitted()' [disabled]='!newTask'>Submit</button>
      </form>
      <ng-template #message>
        <p>You don't have any tasks yet.</p>
      </ng-template>
      <div *ngIf="taskList.length; else message">
          <ul cdkDropList (cdkDropListDropped)="reorderList($event)">
            <li *ngFor='let item of taskList' cdkDrag>
              <mat-icon aria-hidden="false" aria-label="List item">mood</mat-icon>
              {{ item }}
            </li>
          </ul>
        </div>
  </mat-card-content>
</mat-card>


